@import "tailwindcss";
@plugin "daisyui" {
  /* List all themes you want to enable */
  themes: light --default, dark --prefersdark, cupcake, retro, emerald, bumblebee, corporate, synthwave, cyberpunk, valentine, halloween, garden, forest, aqua, lofi, pastel, fantasy, wireframe, black, luxury, dracula, cmyk, autumn, business, acid, lemonade, night, coffee, winter, dim, nord, sunset;
}